.rightside-menu__list-item-link {
    color: #FFF;
    text-align: center;
    font-family: 'Fira Sans Extra Condensed';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.64px;
    text-transform: uppercase;
}