.section-title-level-2 {
    color: #333;
    font-family: 'Fira Sans Extra Condensed';
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
}

@media screen and (max-width: 1440px) {   

}

@media screen and (max-width: 800px) {
    .section-title-level-2 {
        font-size: 40px;
    }
  
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {    
}

@media screen and (max-width: 320px) {    
}
