.indicators__table-text {
    width: 140px;
    color: var(--light-text-primary, #272727);
    text-align: center;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.31px;
}