@import url('./__list/menu-line-two__list.css');
@import url('./__link/menu-line-two__link.css');
@import url('./__item/menu-line-two__item.css');
.menu-line-two {
   display: flex;
   background-color: #333333;
   padding: 8px 0;
}


@media screen and (max-width: 1440px) {    
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 480px) { 
   .menu-line-two {
      display: none;

   }   
}

@media screen and (max-width: 320px) {    
}