@import url('../vendor/font.css');

@import url('../blocks/header/header.css');

@import url('../blocks/promotion/promotion.css');
@import url('../blocks/comparison/comparison.css');
@import url('../blocks/comparison-table/comparison-table.css');
@import url('../blocks/application-form/application-form.css');
@import url('../blocks/feedback/feedback.css');
@import url('../blocks/rates/rates.css');
@import url('../blocks/site-portfolio/site-portfolio.css');

@import url('../blocks/footer/footer.css');

:root {
    --light-text-primary: #272727;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #FFF;
}
.container {
    width: 68%;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 20px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

