@import url('./__title/contacts__title.css');
@import url('../contacts-items/contacts-items.css');

.contacts {
    padding-top: 67px;
    padding-bottom: 80px;    
    background: linear-gradient(0deg, #F5F7F9 0%, #F5F7F9 100%), #ECE8E5;
}