@import url('./__item/feedback-items__item.css');
@import url('./__item-title/feedback-items__item-title.css');
@import url('./__item-text/feedback-items__item-text.css');

.feedback-items {
    width: 68%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}