@import url('./__item/.selection-elements__item.css');
@import url('./__checkbox/.selection-elements__checkbox.css');
@import url('./__checkbox-text/.selection-elements__checkbox-text.css');
@import url('../checkbox/checkbox.css');

.selection-elements {
    display: flex;
    margin-bottom: 30px;
    margin: 0px 47px 40px 47px;
}